a{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #caf;
  color: #217;
  /*border: 2px solid brown;*/
  border-radius: 5px;
  transition: .3s;
}

a:hover{
  background: #adf;
  color: #147;
}

a:focus{
background: #cfa;
color: #371;
outline: none;
}

a:active{
  background: #ffa;
  color: #761;
}

a:visited{
  background: #fda;
  color: #731;
}

.lista-1 li:first-child{
  background: #caf;
}

.lista-1 li:last-child{
  background: #371;
}

.lista-1 li:nth-child(3){
  background: #ffa;
}

.lista-2 li:nth-child(even){
  background: #cfa;
  
/*:nth-child(4) 4 (quarto elemento), even (pares), odd (ímpares), 3n (de 3 em 3).*/
}

.lista-3 li:not(:first-child, :last-child){
background: #caf;
}

/* todos menos first-child e last-child */
ol li:not(:first-child, :last-child) {
  background: #adf;
}

/* todos h2's dentro de section, menos o que tiver a classe .contato */
section h2:not(.contato) {
  text-decoration: underline;
}