*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0px;
  padding: 0px;
}

header{
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.menu{
 display: flex;
 align-items: center;

}

nav ul,nav li{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

nav ul{
  display: flex;
}

nav a{
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-size: 0.8rem;
}

nav .active a, nav a:hover{
  background-color: #39aae1;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#banner{
  display: flex;
  justify-content: center;
  background-image: url('../imagens/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column{
  flex-direction: column;
}

.banner_headline {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

.banner_headline h1 {
  color: #fff;
  font-size: 70px;
  text-shadow: 1px 1px 0px #000;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner_headline h2 {
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 0px #000;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options{
  height: 210px;
  display: flex;
}

.banner1, .banner2, .banner3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}

.banner1{
  background: #39aae1;
}

.banner2{
  background: #0079c7;
}

.banner3{
  background: #2b4c99;
}

.banner_title{
  font-size: 21px;
}

.banner_desc{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a{
  display: inline-block;
  border:  1px solid #fff;
  padding: 5px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.banner_data{
  display: flex;
  justify-content: space-between;
  border-bottom:  1px solid #ffffff4d;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

/* geral conteudo */

#geral{
  display: flex;
  justify-content: center;
}

#geral section{
  flex: 2;
}

#geral aside{
 flex: 1;
}

.widget_title{
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #000;
  font-size: 21px;
  font-weight: bold;
}

.widget_title_bar{
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

article{
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

article a{
  text-decoration: none;
}

article .news_data{
  display: flex;
}

article .news_posted_at{
  background-color: #2b4c99;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news_comments{
  background-color: #39aae1;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

article .news_thumbnail{
  margin-top: 30px;
}

article .news_thumbnail img{
  width: 100%;
  height: auto;
}

article .news_title {
  margin: 25px 0px;
  font-size: 23px;
  color: #000;
}

article .news_resume{
  color: #5c5c5c;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}